# full outer join - intuition

Dans la partie précédente, on a découvert les left joins.

Les Left joins servent à garder intacte la table sur laquelle on fait la jointure:

<img src="images/left_join_schema.png.png" />

Mais dans cet exemple, on a perdu l'employé D (pour qui on avait une ancienneté, mais pas de salaire !)

- Comment faire pour garder D ?
- Comment faire pour garder C ET D ?

## Right Join

In [7]:
import pandas as pd
import duckdb
import io

In [10]:
csv = '''
salary,employee_id
2000,A
2500,B
2200,C
'''

salaries = pd.read_csv(io.StringIO(csv))
salaries

   salary employee_id
0    2000           A
1    2500           B
2    2200           C

In [11]:
csv2 = '''
employee_id,seniority
A,2ans
B,4ans
D,12ans
'''

seniorities = pd.read_csv(io.StringIO(csv2))
seniorities

  employee_id seniority
0           A      2ans
1           B      4ans
2           D     12ans

In [13]:
cross_join_query_where = """
SELECT salary, salaries.employee_id, seniority 
FROM salaries
LEFT JOIN seniorities
USING (employee_id)
"""
duckdb.sql(cross_join_query_where)

┌────────┬─────────────┬───────────┐
│ salary │ employee_id │ seniority │
│ int64  │   varchar   │  varchar  │
├────────┼─────────────┼───────────┤
│   2000 │ A           │ 2ans      │
│   2500 │ B           │ 4ans      │
│   2200 │ C           │ NULL      │
└────────┴─────────────┴───────────┘

In [17]:
cross_join_query_where = """
SELECT salary, salaries.employee_id, seniority 
FROM salaries
RIGHT JOIN seniorities
USING (employee_id)
"""
duckdb.sql(cross_join_query_where)
# employee_id est nul, pourquoi ?

┌────────┬─────────────┬───────────┐
│ salary │ employee_id │ seniority │
│ int64  │   varchar   │  varchar  │
├────────┼─────────────┼───────────┤
│   2000 │ A           │ 2ans      │
│   2500 │ B           │ 4ans      │
│   NULL │ NULL        │ 12ans     │
└────────┴─────────────┴───────────┘

Sauf que ça ne sert à rien de faire un RIGHT JOIN.
<br />
Vous pouvez obtenir le même résultat en faisant un LEFT JOIN:

In [6]:
cross_join_query_where = """
SELECT salary, salaries.employee_id, seniority 
FROM seniorities
LEFT JOIN salaries
USING (employee_id)
"""
duckdb.sql(cross_join_query_where)
# employee_id est nul, pourquoi ?

┌────────┬─────────────┬───────────┐
│ salary │ employee_id │ seniority │
│ int64  │   varchar   │  varchar  │
├────────┼─────────────┼───────────┤
│   2000 │ A           │ 2ans      │
│   2500 │ B           │ 4ans      │
│   NULL │ NULL        │ 12ans     │
└────────┴─────────────┴───────────┘

<img src="images/Zach_wilson_right_joins.png" />

<blockquote> "Ok, du coup je ferai jamais de right join. Mais comment je fais si je veux récupérer les deux tables entièrement, je dois bien faire un LEFT + un JOIN non ?" </blockquote>

C'est là qu'entre en jeu la notion de full outer join, qu'on va travailler dans le prochain notebook ;)