# Inner join - exemples

Dans le notebook précédent, on a bâti autour de l'intuition qu'un inner join peut-être conceptualisé comme un cross join avec un where.

Maintenant, on va passer à la pratique pour progresser sur la syntaxe

In [1]:
import pandas as pd
import duckdb
import io

## Data

In [2]:
# Table des commandes:
orders_data = {
    'order_id': [1, 2, 3, 4, 5],
    'customer_id': [101, 102, 103, 104, 105]
}

df_orders = pd.DataFrame(orders_data)
df_orders

   order_id  customer_id
0         1          101
1         2          102
2         3          103
3         4          104
4         5          105

In [3]:
# Table des clients
customers_data = {
    'customer_id': [101, 102, 103, 104, 105, 106],
    'customer_name': ["Toufik", "Daniel", "Tancrède", "Kaouter", "Jean-Nicolas", "David"]
}

df_customers = pd.DataFrame(customers_data)
df_customers

   customer_id customer_name
0          101        Toufik
1          102        Daniel
2          103      Tancrède
3          104       Kaouter
4          105  Jean-Nicolas
5          106         David

In [4]:
# Table des produits
p_names = ["Laptop", "Ipad", "Livre", "Petitos"]
products_data = {
    'product_id': [101, 103, 104, 105],
    'product_name': p_names,
    'product_price': [800, 400, 30, 2]
}

df_products = pd.DataFrame(products_data)
df_products

   product_id product_name  product_price
0         101       Laptop            800
1         103         Ipad            400
2         104        Livre             30
3         105      Petitos              2

In [5]:
# Détail des commandes
order_details_data = {
    'order_id': [1, 2, 3, 4, 5],
    'product_id': [102, 104, 101, 103, 105],
    'quantity': [2, 1, 3, 2, 1]
}

df_order_details = pd.DataFrame(order_details_data)
df_order_details

   order_id  product_id  quantity
0         1         102         2
1         2         104         1
2         3         101         3
3         4         103         2
4         5         105         1

## Inner joins pour rassembler les tables

### Exercice 1: inner join pour rassembler les commandes avec les détails

In [6]:
detailed_order = pd.merge(
    df_orders,
    df_order_details,
    on='order_id',
    how='inner'
)
detailed_order

   order_id  customer_id  product_id  quantity
0         1          101         102         2
1         2          102         104         1
2         3          103         101         3
3         4          104         103         2
4         5          105         105         1

In [7]:
query = """
SELECT * FROM df_orders
INNER JOIN df_order_details
USING (order_id)
"""

# on df_orders.order_id = df_order_details.order_id

duckdb.query(query)

┌──────────┬─────────────┬────────────┬──────────┐
│ order_id │ customer_id │ product_id │ quantity │
│  int64   │    int64    │   int64    │  int64   │
├──────────┼─────────────┼────────────┼──────────┤
│        1 │         101 │        102 │        2 │
│        2 │         102 │        104 │        1 │
│        3 │         103 │        101 │        3 │
│        4 │         104 │        103 │        2 │
│        5 │         105 │        105 │        1 │
└──────────┴─────────────┴────────────┴──────────┘

### Exercice 2:  inner join pour rassembler les commandes détaillées avec les clients

In [ ]:
# %load solutions/1exercice2_python.py
order_client = pd.merge(
    df_customers,
    detailed_order,
    on='customer_id',
    how='inner'
)
order_client

In [ ]:
# %load solutions/2exercice2_sql.py
query = """
SELECT df_customers.customer_id,
customer_name,
order_id,
product_id,
quantity
FROM df_customers
INNER JOIN detailed_order
on df_customers.customer_id = detailed_order.customer_id
"""

duckdb.query(query).df()

### Exercice 3: inner join pour rassembler les commandes client détaillées avec les produits

In [ ]:
# %load solutions/3exercice3_python.py
order_w_products = pd.merge(
    order_client,
    df_products,
    on='product_id',
    how='inner'
)
order_w_products

In [ ]:
# %load solutions/4exercice3_sql.py
query = """
SELECT * 
FROM order_client cc
INNER JOIN df_products products
on cc.product_id = products.product_id
"""

duckdb.query(query).df()

<br />
<br />
<br />

---

<br />

<img src="images/inner_peace.gif" />