In [1]:
!pip install pandas >> /dev/null
!pip install duckdb >> /dev/null

In [2]:
import pandas as pd
import duckdb
import io

# Data

In [3]:
csv = '''
beverage,price
orange juice,2.5
Expresso,2
Tea,3
'''

beverages = pd.read_csv(io.StringIO(csv))

In [4]:
csv2 = '''
food_item,food_price
cookie juice,2.5
chocolatine,2
muffin,3
'''

food_items = pd.read_csv(io.StringIO(csv2))

In [5]:
# checks
query_beverages = """
SELECT * FROM beverages
"""
duckdb.sql(query_beverages)

┌──────────────┬────────┐
│   beverage   │ price  │
│   varchar    │ double │
├──────────────┼────────┤
│ orange juice │    2.5 │
│ Expresso     │    2.0 │
│ Tea          │    3.0 │
└──────────────┴────────┘

In [6]:
query_food_items = """
SELECT * FROM food_items
"""
duckdb.sql(query_food_items)

┌──────────────┬────────────┐
│  food_item   │ food_price │
│   varchar    │   double   │
├──────────────┼────────────┤
│ cookie juice │        2.5 │
│ chocolatine  │        2.0 │
│ muffin       │        3.0 │
└──────────────┴────────────┘

# Cross join (SQL et Python)

In [7]:
cross_join_query = """
SELECT * FROM beverages
CROSS JOIN food_items
"""
duckdb.sql(cross_join_query)

┌──────────────┬────────┬──────────────┬────────────┐
│   beverage   │ price  │  food_item   │ food_price │
│   varchar    │ double │   varchar    │   double   │
├──────────────┼────────┼──────────────┼────────────┤
│ orange juice │    2.5 │ cookie juice │        2.5 │
│ Expresso     │    2.0 │ cookie juice │        2.5 │
│ Tea          │    3.0 │ cookie juice │        2.5 │
│ orange juice │    2.5 │ chocolatine  │        2.0 │
│ Expresso     │    2.0 │ chocolatine  │        2.0 │
│ Tea          │    3.0 │ chocolatine  │        2.0 │
│ orange juice │    2.5 │ muffin       │        3.0 │
│ Expresso     │    2.0 │ muffin       │        3.0 │
│ Tea          │    3.0 │ muffin       │        3.0 │
└──────────────┴────────┴──────────────┴────────────┘

In [8]:
output = (
    beverages
    .join(food_items, how="cross")
)
output

       beverage  price     food_item  food_price
0  orange juice    2.5  cookie juice         2.5
1  orange juice    2.5   chocolatine         2.0
2  orange juice    2.5        muffin         3.0
3      Expresso    2.0  cookie juice         2.5
4      Expresso    2.0   chocolatine         2.0
5      Expresso    2.0        muffin         3.0
6           Tea    3.0  cookie juice         2.5
7           Tea    3.0   chocolatine         2.0
8           Tea    3.0        muffin         3.0

In [9]:
duckdb.sql(cross_join_query).df()

       beverage  price     food_item  food_price
0  orange juice    2.5  cookie juice         2.5
1      Expresso    2.0  cookie juice         2.5
2           Tea    3.0  cookie juice         2.5
3  orange juice    2.5   chocolatine         2.0
4      Expresso    2.0   chocolatine         2.0
5           Tea    3.0   chocolatine         2.0
6  orange juice    2.5        muffin         3.0
7      Expresso    2.0        muffin         3.0
8           Tea    3.0        muffin         3.0

In [31]:
# Fails. Pouvez-vous deviner pourquoi ?
pd.testing.assert_frame_equal(duckdb.sql(cross_join_query).df(),output)

AssertionError: DataFrame.columns are different

DataFrame.columns values are different (100.0 %)
[left]:  Index(['beverage', 'beverage_price', 'food_item', 'food_price'], dtype='object')
[right]: Index(['food_item', 'food_price', 'beverage', 'beverage_price'], dtype='object')
At positional index 0, first diff: beverage != food_item

Ouvrir <a href="https://pandastutor.com/vis.html#trace=example-code/py_slice.json">pandas tutor</a> et importer le code.

In [ ]:
import pandas as pd
import io

csv = '''
beverage,beverage_price
orange juice,2.5
Expresso,2
Tea,3
'''

csv2 = '''
food_item,food_price
cookie juice,2.5
chocolatine,2
muffin,3
'''


beverages = pd.read_csv(io.StringIO(csv))
food_items = pd.read_csv(io.StringIO(csv2))

(
beverages
    .join(food_items, how="cross")
    # .assign(total_price= lambda x: x.beverage_price + x.food_price)
)

---

# Exercices

## Exercice 1
Essayez de faire votre propre cross join avec les items suivants:


XS, M, L, XL

Nike, Asphalte, Abercrombie, Lewis

In [41]:
size = '''
size
XS
M
L
XL
'''

trademark = '''
trademark
Nike
Asphalte
Abercrombie
Lewis
'''

size = pd.read_csv(io.StringIO(size))
trademark = pd.read_csv(io.StringIO(trademark))

Question: vous avez 4 tailles et quatre "trademarks". Quelle dimension devrait faire la table de sortie ?

### En SQL

In [ ]:
cross_join_query = """
______à remplir_______
______à remplir_______
"""
duckdb.sql(cross_join_query)

Solution:

In [19]:
!ls

'1) Cross Joins - intuitions.ipynb'
'2) Cross joins - SQL & Python examples.ipynb'
'3) Cross Join - exemple pratique d'\''utilisation.ipynb'

In [ ]:
# %load solutions/1solution_cross_join_sql.py
cross_join_query = """
SELECT * FROM size
CROSS JOIN trademark
"""
duckdb.sql(cross_join_query)

### En Python

In [2]:
____.join(_________, how="cross")  # à compléter

NameError: name '____' is not defined

Solution:

In [ ]:
# %load solutions/2solution_cross_join_python.py
size.join(trademark, how="cross")

## Exercice 2

Créez un set pour toutes les heures de 8h à midi, et un set pour chaque quart d'heure.

Faites le cross join pour obtenir tous les quarts d'heure d'ouverture de votre magasin.

In [ ]:
# Votre code ici:

solution:

In [5]:
# %load solutions/3solution_cross_join_exo2_python_and_sql.py
hours = '''
hour
08
09
10
11
12
'''

quarters = '''
quarter
00
15
30
45
'''

hours = pd.read_csv(io.StringIO(hours))
quarters = pd.read_csv(io.StringIO(quarters))

# python
display(hours.join(quarters, how="cross"))


# sql
query = """
SELECT * FROM hours
CROSS JOIN quarters
ORDER BY HOUR, QUARTER
"""

duckdb.sql(query)

NameError: name 'pd' is not defined